.header
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
        a.navbar-brand(href="#") Admin Sản phẩm
        .collapse.navbar-collapse#navbarNav
          ul.navbar-nav.ml-auto
            li.nav-item
              a.btn.btn-secondary(href=lickReload) Reload
            li.nav-item
              a.nav-link(href="#") Trần Đức Kiên
