include ../mixins/notification.pug

doctype html
html
  head
    title Admin | #{pageTitle}
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="/public/admin/styles/styles.css")
  body
    //- HEADER
    include ../partials/header.pug

    //- SIDEBAR
    include ../partials/sidebar.pug

    //- MAIN CONTENT
    .body

      //- Notification
      .container.notification
        if messages
          + notification(3000, messages)
      
      //- Content
      block content   

    script(src="/public/admin/scripts/script.js") 
    script(src="https://code.jquery.com/jquery-3.5.1.min.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js")
